/*---GÆLDENDE FOR ALLE SIDER---*/
html {
  scroll-behavior: smooth;
  --black: #3a4454;
  --white: #f1f1f1;
  --lightestgreen: #c5e2ba;
  --lightgreen: #aecc9f;
  --darkgreen: #849c78;
  --darkestgreen: #607356;
  --neongreen: #34c570;
  --darkneongreen: #11a850;
}
h1,
h2,
h3 {
  font-family: "Gurajada", sans-serif;
}
h5 {
  color: var(--black);
}
body {
  font-family: "Glory", sans-serif;
  background-color: var(--white);
}
/* ------ css reset ------ */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: var(--white);
}
/*----------menu-------------*/
header {
  background-image: url(../img/backgroundimg.webp);
  background-size: cover;
  position: sticky;
  top: 0;
  z-index: 1;
}
/*navigationsbar*/
.navbar {
  min-height: 65px;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  align-items: center;
}
/*menuknapperne i navigationsbar*/
.nav-menu {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  padding: 2rem;
}
/*logo*/
.nav-branding {
  width: 18ch;
}
/*hamburgermenu*/
.hamburger {
  display: none;
  cursor: pointer;
  padding: 2ch;
}
.bar {
  display: block;
  width: 35px;
  height: 3px;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--darkneongreen);
  border-radius: 2px;
}
.nav-link {
  text-decoration: none;
  background-color: var(--darkneongreen);
  color: white;
  padding: 5px 1rem 5px 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  transition: ease-in-out 0.2s;
}
.nav-link:hover {
  color: var(--white);
  background-color: var(--neongreen);
  transition: ease-in-out 0.2s;
}
li {
  list-style: none;
}
.nav-link.active {
  color: var(--white);
  background-color: var(--neongreen);
}

footer {
  background-color: #72757a;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

footer img {
  width: 100%;
  height: 100px;
}

footer svg {
  height: 40px;
  text-decoration: none;
}

footer a {
  text-decoration: none;
}
/*-------------mobil---------------*/
@media (max-width: 700px) {
  /*-----------BURGERMENU SETTINGS----------*/
  .hamburger {
    display: block;
  }
  /*de tre streger bliver til et kryds*/
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }
  .navbar {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
  .nav-branding {
    margin: auto;
  }
  /*menu settings, standard gør den ikke synlig*/
  .nav-menu {
    position: absolute;
    left: -200%;
    top: 17ch;
    gap: 0;
    flex-direction: column;
    border-bottom: var(--lightgreen) solid;
    border-top: var(--lightgreen) solid;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }
  /*kommer frem, når den er active*/
  .nav-menu.active {
    left: 0;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  .nav-item {
    padding: 1rem;
  }
}
