/*---GÆLDENDE FOR ALLE SIDER---*/
html {
  scroll-behavior: smooth;
  --black: #3a4454;
  --white: #f1f1f1;
  --lightestgreen: #c5e2ba;
  --lightgreen: #aecc9f;
  --darkgreen: #849c78;
  --darkestgreen: #607356;
  --neongreen: #34c570;
  --darkneongreen: #11a850;
}

h1,
h2,
h3 {
  font-family: "Gurajada", sans-serif;
}
body {
  font-family: "Glory", sans-serif;
}

/*----------menu-------------*/
header {
  position: sticky;
  top: 0;
  z-index: 1;
}
/*navigationsbar*/
.navbar {
  background-color: white;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
/*menuknapperne i navigationsbar*/
.nav-menu {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
/*logo*/
.nav-branding {
  width: 20ch;
  margin-left: 5px;
}
/*hamburgermenu*/
.hamburger {
  display: none;
  cursor: pointer;
  padding: 2ch;
}
.bar {
  display: block;
  width: 35px;
  height: 2px;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
  border-radius: 2px;
}
.nav-link {
  text-decoration: none;
  color: #214191;
  transition: ease-in-out 0.2s;
}
.nav-link:hover {
  color: #a4b5df;
  transition: ease-in-out 0.2s;
}
li {
  list-style: none;
}
/*-------------mobil---------------*/
@media (max-width: 700px) {
  /*-----------BURGERMENU SETTINGS----------*/
  .hamburger {
    display: block;
  }
  /*de tre streger bliver til et kryds*/
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  /*menu settings, standard gør den ikke synlig*/
  .nav-menu {
    position: absolute;
    left: -100%;
    top: 9.1ch;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    border-top: 1px solid lightgray;
    z-index: 1;
  }
  /*kommer frem, når den er active*/
  .nav-menu.active {
    left: 0;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  .nav-item {
    padding: 1rem;
    border-bottom: 1px solid lightgray;
  }
}
