/* skovside sofia */
.grid_1fr-1fr {
  display: grid;
  gap: 5px;
}
/* hero section (tekst på baggrund) */
.hero-img {
  display: grid;
  /*aspect-ratio: 80/100;*/
  background-image: url(../img/illustrations/backgroundimg.svg);
  background-size: cover;
  padding-bottom: 2%;
  width: 100%;
  height: auto;
  transition: 1s;
  overflow: hidden;
  height: 85vh;
}
/*container for tekst og knap til section
gør så man kan align tekst og knap indenfor sit grid*/
.hero-fill {
  display: grid;
  justify-content: center;
  text-align: center;
}
.hero-text h1 {
  font-size: 2rem;
}
.hero-ikon {
  width: 8rem;
  margin: auto;
}
.hero-p {
  width: 70%;
  margin: auto;
}
.hero-button {
  display: grid;
  align-items: self-end;
}
.button {
  aspect-ratio: 67/41;
  background-image: url(../img/arrowdownblack.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 8%;
  height: auto;
  /*placerer item i midten*/
  margin: auto;
  transition: 0.5s;
}
.button:hover {
  background-image: url(../img/arrowdowngreen.svg);
  transition: 0.5s;
}

.nalskov {
  background-image: url(https://vildmad.dk/application/files/8314/9096/3662/sankested_naleskov-squashed.jpg);
  background-size: cover;
  height: 55vh;
  display: grid;
  align-items: center;
  transition: ease-in-out 0.2s;
}
.nalskov h2,
.lovskov h2 {
  background-color: rgba(0, 0, 0, 0.642);
  width: 80%;
  padding: 1rem;
  text-align: center;
  margin: auto;
  font-size: 2.5rem;
}

.lovskov {
  background-image: url(https://vildmad.dk/application/files/1314/9096/4038/sankested_lovskov-squashed.jpg);
  background-size: cover;
  height: 55vh;
  display: grid;
  align-items: center;
  transition: ease-in-out 0.2s;
}
.nalskov:hover,
.lovskov:hover {
  filter: grayscale(20);
  transition: ease-in-out 0.2s;
}

/*---Skov Underside Laura---*/
@media (min-width: 400px) {
  .grid_2-8-2 {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
  }
  .grid_4-4 {
    display: grid;
    grid-template-columns: 4fr 4fr;
    grid-column: 2;
  }
  .grid_2-2-2-2 {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-column: 2;
  }

  .sticker1 {
    max-width: 12%;
    position: absolute;
    top: 130%;
    left: 77%;
  }
  .sticker2 {
    max-width: 10%;
    position: absolute;
    top: 175%;
    left: 12%;
    transform: scaleX(-1);
  }
  .sticker3 {
    max-width: 10%;
    position: absolute;
    left: 77%;
  }

  .arrowback {
    max-width: 10%;
    position: absolute;
    top: 25%;
  }
}

.bannerimage {
  background-size: cover;
  display: grid;
  align-items: center;
  height: 200px;
  width: 1280px;
}

.whichForest {
  background-color: rgba(0, 0, 0, 0.6);
  width: 80%;
  padding: 1rem;
  text-align: center;
  margin: auto;
  font-size: 4rem;
  display: relative;
  color: white;
  transform: translate(0%, -400%);
}

.underOverskrift {
  background-color: #e0ecdb;
  width: 100%;
  text-align: center;
  font-size: 2.3rem;
  margin-top: -30%;
  margin-bottom: 2%;
}

.underImg {
  margin-top: -30%;
  margin-left: 2%;
}
.forestText {
  font-size: 1.2rem;
}

.canFind {
  background-color: #e0ecdb;
  width: 203%;
  text-align: center;
  font-size: 2.3rem;
  margin-top: 10%;
}

.gridItem {
  display: grid;
  width: 100%;
  margin: 5%;
  padding: 5%;
}

@media (max-width: 400px) {
  .underOverskrift {
    margin-top: -20%;
  }

  .underImg {
    margin-top: 0%;
  }

  .canFind {
    width: 100%;
  }

  .whichForest {
    font-size: 2rem;
    transform: translate(0%, -200%);
  }
  main {
    overflow-x: hidden;
  }
  .sticker1,
  .sticker2,
  .sticker3 {
    display: none;
  }
}
/*---Skov Underside Laura---*/
@media (min-width: 700px) {
  /* skovside sofia */
  .grid_1fr-1fr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
}

/*---Index---*/
.container {
    display: grid;
    grid-template-rows: 1fr 0.9fr;
    grid-template-columns: 1fr 1fr;
  }
  
  .top-image {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #f1f1f1;
  }
  
  .billede1 {
    background-color: #00a747;
  }
  
  .billede2 {
    background-color: #aecc9f;
  }
  
  .vildmad {
    display: flex;
    grid-row-start: 1;
    grid-column-start: 1;
    text-align: center;
    align-items: center;
    padding-left: 55%;
    font-size: 12cqw;
  }
  
  .billede1 {
    text-align: center;
    justify-content: center;
    font-size: 4cqw;
    color: #f1f1f1;
  }
  
  .billede2 img {
    position: relative;
    width: 60%;
    top: 10%;
    left: 20%;
  }
  
  .baggrund-container {
    font-size: 2cqw;
    text-align: center;
    justify-content: center;
    background-color: #00a747;
    max-width: 80%; /* Indstil maksimal bredde til 80% af forældreelementet */
    margin: 0 auto; /* Centrer elementet vandret */
  }
  
  .billede2text {
    color: #f1f1f1;
    position: relative;
    margin-top: 20%;
    padding: 10px; /* Tilføjer lidt polstring rundt om teksten */
  }
  /*---Index---*/

  /*---Pop Up---*/
/* Popup */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .modal-content {
    height: fit-content;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  
  /* Close button */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #888;
    cursor: pointer;
  }
  
  /* Styling for popup content */
  #popupHeader {
    margin-bottom: 10px;
  }
  
  #popupText {
    margin-bottom: 10px;
  }
  
  #popupSubheader {
    margin-bottom: 0;
  }
  
    /*---Pop Up---*/
  